body {
  background: #f1f1f1;
  margin: 10;
  font-family: "Poppins";
}

h1 {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 15%;
  height: 25%;
}

/* 
.review-container {
  margin-top: 50px;
} */